body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.container-2 {
  width: 100%;
  height: 100vh;
}

.frame-container {
  flex: 1;
  height: 100%;
  border: none;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
} 